<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div id="twlightBox">
  <p *ngIf="twilightService.twilight">Sunrise: {{twilightService.twilight.results.sunrise}}  |   Sunset: {{twilightService.twilight.results.sunset}}</p>
</div>

<agm-map (mapReady)="mapReady($event)" [latitude]="mapLat" [zoom]="zoom" [longitude]="mapLng" [streetViewControl]="false">
    <agm-marker
    *ngFor="let venue of venueService.venueList"
    [latitude]="venue.Geo.Lat"
    [longitude]="venue.Geo.lon"
    [opacity]="1"
    (markerClick)="selectMarker($event, venue._id)"
    [iconUrl]="markerIconUrl(venue.isSelected)"
    >
  </agm-marker>
  <agm-marker
  *ngIf="yourPosition"
  [latitude]="yourPosition.lat"
  [longitude]="yourPosition.lon"
  [opacity]="1"
  [iconUrl]="getUserMarkerIcon()"
  >
</agm-marker>
</agm-map>

<div *ngIf="selectedVenue">
  <p>{{selectedVenue._id}}</p>
  <h2>{{selectedVenue.Name}}</h2>
  <p>{{selectedVenue.Address}}</p>
  <p>{{selectedVenue.Neighbourhood}}</p>
  <p>{{selectedVenue.PhoneNumber}}</p>
  <p>{{selectedVenue.Website}}</p>
  <ul>
    <li *ngFor="let d of selectedVenue.ListOfOpenHours">
     {{d.Day | getDayName}} : {{d.OpeningHours}} : {{d.ClosingHours}}
    </li>
  </ul>
</div>